<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
</head>    
<div>
    <h1>Abstract</h1>
    <p>Board games with no theme at all, or what theme is offered is so disconnected from the actual experience of playing that it might as well not be there. Draughts and Go are the purest examples of abstracts, while chess - with its set of named pieces and suggestion of historical warfare - is relatively thematic by the standards of the category.</p>
</div>
<div>
    <h1>Roll-and-move</h1>
    <p>Board games where you roll one or more dice and move that many spaces - commonly on a looping track of spaces, or a path with a start and finish. Often landing on certain spaces will trigger specific actions or offer the player certain gameplay options. Simple as that.</p>
</div>




</html>